<div class="mainBox">

  <h1>Weather App (Made by Pruthviraj Patil)</h1>
  <!-- <input type="text" [(ngModel)]="city" placeholder="Enter city name" disabled/> -->
  <button class="btn" (click)="fetchWeatherData()">Start</button>
  
  <div *ngIf="weatherData">
    <h2>Weather Information for {{ weatherData.name }}</h2>
    <p>Temperature: {{ temperature}}°C</p>
    <!-- <p>Humidity: {{ weatherData.main.humidity }}%</p>
    <p>Weather: {{ weatherData.weather[0].description }}</p> -->
  </div>
</div>
